@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0.1)), url("../images/code.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: blur(8px);
  z-index: -1;
}

/*
blockquote {
  font-family: monospace;
  margin: 2em;
}

ol,
ul {
  margin: 1.2em;
}

ol {
  list-style: decimal;
}

a {
  text-decoration: underline;
  text-decoration-color: cornflowerblue;
  color: cornflowerblue;
}

ul {
  list-style: circle;
}

h3 {
  font-size: 1.35rem;
  font-weight: 400;
}

h2 {
  font-size: 1.65rem;
  font-weight: 600;
}

h1 {
  font-size: 1.875rem;
  font-weight: 900;
}

*/
