@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.root {
  display: blog;
  color: inherit;
  text-decoration: none;
}

/* .hover {
  transform: translateY(0);
  transition: transform 300ms ease;
}

@media (hover: hover) {
  .hover:hover {
    transform: translateY(-0.5em);
  }
} */

.inList {
  composes: root;

  @media (--media-min-medium) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}

.inGrid {
  composes: root;
}

.leadMediaThumb {
  position: relative;
  padding-bottom: 66.666%;
  /* background: var(--color-very-light-gray); */

  @nest & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
  }
}

.text {
  /* border-radius: 0 0 1em 1em;
  box-shadow: 0 6px 2px rgba(0, 0, 0, 0.3); */
  padding: 1em;
  /* height: 295px; */

  @media (max-width: 767px) {
    /* height: inherit; */
  }
}

.title {
  /* @media (hover: hover), (--media-min-medium) {
    @nest .root:hover & {
      text-decoration: underline;
    }
  } */
  @media (--media-min-medium) {
    @nest .inList & {
      margin-top: 0;
    }
  }
}

.excerpt {
  @nest & p {
    margin: 0.5em 0;
  }

  @nest & strong {
    font-weight: 600;
  }
  position: relative;
  height: 8em;
  overflow: hidden;
  margin-bottom: 1em;
}
.excerpt::after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(17, 17, 17, 0), rgb(17, 17, 17) 50%);
}

.date {
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
  color: var(--color-gray);
  padding: 0 1em 1em 1em;
}
